html {
    height: 100%;
    overflow: hidden;
  }
  body {
    color: #fff;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
  } 
  header {
    box-sizing: border-box;
    min-height: 100vh;
    padding: 30vw 0 5vw;
    position: relative;
    transform-style: inherit;
    width: 100vw;
  }
  header h1 {
    margin-top: -100px;
  }
  header, header:before {
    background: 50% 50% /cover;
  }
  header::before {
    bottom: 0;
    content:'';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    background-image: url(BG.jpg);
    background-size: cover;
    transform-origin: center center 0;
    transform: translateZ (-1px) scale(2);
    z-index: -1;
    min-height: 100vh;
  }
  header * {
    font-weight: normal;
    letter-spacing: 0.2em;
    text-align: center;
    margin: 0;
    padding: 1em 0;
  }

}
.spacer {
    margin: -10%;
  padding: 2%;
}
.block {
  background-color: black;
  color: white;
  width: 75%;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 1em;
  padding: 2%;
  Background: rgba(0,0,0,.65);
}
.block2 {
  background-color: black;
  color: white;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  font-size: 1.3em;
  padding: 2%;
  Background: rgba(0,0,0,.65);
}
.connectSpacer {
  padding-bottom: 20px;
}
img {
  border-radius:15%;
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  margin-top: -1.5%;
  box-shadow: 5px 5px 5px black;
}
.btn {
  box-shadow: 3px 3px 3px black;

}
.card {
  margin: auto;
  text-align:center;
}
.fcolor {
  background-color: black;
  color: white;
  font-size: 16px;
  padding: 10px 50px 10px;
  Background: rgba(0,0,0,.80);
  text-align: center;
}
.vcenter {
  padding-top: 30px;
  padding-bottom: 10px;
}
.vcenterName {
  padding-top: 5px;
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
.btn-twitter {
  background-color:  #1dcaff;
}
.btn-linkedin {
  background-color:  #007bb5;
}
.btn-git {
  background-color:  #000000;
}